
.DragonflyDashboard .top-border {
    border-top: 2px solid #f3f3f5;
}

.DragonflyDashboard .no-left-padding {
    padding-left: 0;
}

.DragonflyDashboard .no-background {
    background-color: transparent;
}

/*body {
    background: #f6f4f4;
}

.btn-success, .btn-info {
    color: #fff;
    border-color: #2bc37c #2bc37c #1d8454;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    background-color: #2bc37c;
}*/


