@inherits UmbracoViewPage<StatusMessage>
@{
    var pvException = ViewHelpers.GetViewsPath() + "Partials/ExceptionDetailsLink.cshtml";
}

@if (Model.Message != "")
{
    <h3 style="color: red;">@Model.Message</h3>
    <p>@string.Join("<br/>", Model.DetailedMessages)</p>
}

@if (Model.InnerStatuses.Any())
{
    <p>Below are all logged messages:</p>
    <ol>
        @foreach (var innerMsg in Model.InnerStatuses)
        {
            <li>
                @if (!innerMsg.Success)
                {
                    <b style="color: red;">FAILED: </b>
                }
                
                <b>@innerMsg.Message</b>
                @if (innerMsg.DetailedMessages.Any())
                {
                    @foreach (var msg in innerMsg.DetailedMessages)
                    {
                    <br/>@msg
                    }
                }
                @if (innerMsg.GetRelatedException() != null)
                {
                    <br/>
                    <pre>@innerMsg.GetRelatedException().Message</pre>
	                @await Html.PartialAsync(pvException, innerMsg.GetRelatedException())
                }
                <br/>
            </li>
        }
    </ol>
}
